---
http_interactions:
- request:
    method: get
    uri: https://api.arclight.org/v2/media-components/1_jf-0-0?apiKey=1234567890&platform=android
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"959a7a499d6ef051cbbfa7c16b8ce128-gzip"'
      Last-Modified:
      - Tue, 02 Feb 2021 15:35:11 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"mediaComponentId":"1_jf-0-0","componentType":"content","subType":"featureFilm","contentType":"video","imageUrls":{"thumbnail":"https://d1wl257kev7hsz.cloudfront.net/cinematics/1_jf-0-0.thumbnail.jpg","videoStill":"https://d1wl257kev7hsz.cloudfront.net/cinematics/1_jf-0-0.videoStill.jpg","hd":"https://d1wl257kev7hsz.cloudfront.net/cinematics/Classic_art_HD.jpg","mobileCinematicHigh":"https://d1wl257kev7hsz.cloudfront.net/cinematics/1_jf-0-0.mobileCinematicHigh.jpg","mobileCinematicLow":"https://d1wl257kev7hsz.cloudfront.net/cinematics/1_jf-0-0.mobileCinematicLow.jpg","medium":"https://d1wl257kev7hsz.cloudfront.net/cinematics/Classic_art_med.jpg","small":"https://d1wl257kev7hsz.cloudfront.net/cinematics/Classic_art_sm.jpg","banner440x250":"https://d1wl257kev7hsz.cloudfront.net/cinematics/JESUS-440x250.jpg","banner600x338":"https://d1wl257kev7hsz.cloudfront.net/cinematics/JESUS-600x338.jpg","banner800x412":"https://d1wl257kev7hsz.cloudfront.net/cinematics/JESUS-880x412.jpg","banner880x441":"https://d1wl257kev7hsz.cloudfront.net/cinematics/JESUS-880x441.jpg","mobileCinematicVeryLow":"https://d1wl257kev7hsz.cloudfront.net/cinematics/1_jf-0-0.mobileCinematicVeryLow.webp"},"lengthInMilliseconds":7673754,"containsCount":61,"isDownloadable":false,"downloadSizes":{},"bibleCitations":[],"primaryLanguageId":529,"title":"JESUS","shortDescription":"Jesus
        constantly surprises and confounds people, from His miraculous birth to His
        rise from the grave. Follow His life through excerpts from the Book of Luke,
        all the miracles, the teachings, and the passion.","longDescription":"This
        film is a perfect introduction to Jesus through the Gospel of Luke. Jesus
        constantly surprises and confounds people, from His miraculous birth to His
        rise from the grave. Follow His life through excerpts from the Book of Luke,
        all the miracles, the teachings, and the passion. \n\nGod creates everything
        and loves mankind. But mankind disobeys God. God and mankind are separated,
        but God loves mankind so much, He arranges redemption for mankind. He sends
        his Son Jesus to be a perfect sacrifice to make amends for us.\n\nBefore Jesus
        arrives, God prepares mankind. Prophets speak of the birth, the life, and
        the death of Jesus.\n\nJesus attracts attention. He teaches in parables no
        one really understands, gives sight to the blind, and helps those who no one
        sees as worth helping.\n\nHe scares the Jewish leaders, they see him as a
        threat. So they arrange, through Judas the traitor and their Roman oppressors,
        for the crucifixion of Jesus. They think the matter is settled. But the women
        who serve Jesus discover an empty tomb. The disciples panic. When Jesus appears,
        they doubt He''s real. But it''s what He proclaimed all along: He is their
        perfect sacrifice, their Savior, victor over death. He ascends to heaven,
        telling His followers to tell others about Him and His teachings.","studyQuestions":["How
        is the sacrifice of Jesus part of God''s plan?","How do the different groups
        of people respond to Jesus and His teachings?","What are some of the miracles
        Jesus performed? How do they affect those people?","How do you respond to
        the life of Jesus?"],"metadataLanguageTag":"en","_links":{"sampleMediaComponentLanguage":{"href":"http://api.arclight.org/v2/media-components/1_jf-0-0/languages/529?platform=ios&apiKey=1234567890"},"osisBibleBooks":{"href":"http://api.arclight.org/v2/taxonomies/osisBibleBooks?apiKey=1234567890"},"self":{"href":"http://api.arclight.org/v2/media-components/1_jf-0-0?apiKey=1234567890"},"mediaComponentLinks":{"href":"http://api.arclight.org/v2/media-component-links/1_jf-0-0?apiKey=1234567890"}}}'
  recorded_at: Thu, 04 Feb 2021 04:28:46 GMT
- request:
    method: get
    uri: https://api.arclight.org/v2/media-components/1_jf-0-0/languages/529?apiKey=1234567890&platform=android
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"959a7a499d6ef051cbbfa7c16b8ce128-gzip"'
      Last-Modified:
      - Tue, 02 Feb 2021 15:35:11 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"mediaComponentId":"1_jf-0-0","languageId":529,"refId":"1_529-jf-0-0","apiSessionId":"1234567890","platform":"android","lengthInMilliseconds":7673754,"subtitleUrls":{"srt":[{"languageId":22658,"languageTag":"ar","url":"https://d389zwyrhi20m0.cloudfront.net/22658/1_jf-0-0/0-0-OT-22658-32426.srt"},{"languageId":140126,"languageTag":"cjp","url":"https://d389zwyrhi20m0.cloudfront.net/140126/1_jf-0-0/0-0-OT-140126-33538.srt"},{"languageId":21754,"languageTag":"zh-hans","url":"https://d389zwyrhi20m0.cloudfront.net/21754/1_jf-0-0/0-0-OT-21754-31800.srt"},{"languageId":21753,"languageTag":"zh-hant","url":"https://d389zwyrhi20m0.cloudfront.net/21753/1_jf-0-0/0-0-OT-21753-31804.srt"},{"languageId":4432,"languageTag":"c[...]
- request:
    method: get
    uri: https://api.arclight.org/v2/media-components?apiKey=1234567890&platform=android
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"959a7a499d6ef051cbbfa7c16b8ce128-gzip"'
      Last-Modified:
      - Tue, 02 Feb 2021 15:35:11 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"limit":10000,"pages":1,"total":941,"apiSessionId":"1234567890","_links":{"self":{"href":"http://api.arclight.org/v2/media-components?page=1&limit=10000&apiKey=1234567890"},"first":{"href":"http://api.arclight.org/v2/media-components?page=1&limit=10000&apiKey=1234567890"},"last":{"href":"http://api.arclight.org/v2/media-components?page=1&limit=10000&apiKey=1234567890"}},"_embedded":{"mediaComponents":[{"mediaComponentId":"1_jf-0-0","componentType":"content","subType":"featureFilm","contentType":"video","imageUrls":{"thumbnail":"https://d1wl257kev7hsz.cloudfront.net/cinematics/1_jf-0-0.thumbnail.jpg","videoStill":"https://d1wl257kev7hsz.cloudfront.net/cinematics/1_jf-0-0.videoStill.jpg","hd":"https://d1wl257kev7hsz.cloudfront.net/cinematics/Classic_art_HD.jpg","mobileCinematicHigh":"https://d1wl257kev7hsz.cloudfront.net/cinematics/1_jf-0-0.mobileCinematicHigh.jpg","mobileCinematicLow":"https:[...]
- request:
    method: get
    uri: https://api.arclight.org/v2/media-languages?apiKey=1234567890&limit=5000&platform=android
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"959a7a499d6ef051cbbfa7c16b8ce128-gzip"'
      Last-Modified:
      - Tue, 02 Feb 2021 15:35:11 GMT
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"limit":5000,"pages":1,"total":1879,"_links":{"self":{"href":"http://api.arclight.org/v2/media-languages?page=1&limit=5000&apiKey=1234567890"},"first":{"href":"http://api.arclight.org/v2/media-languages?page=1&limit=5000&apiKey=1234567890"},"last":{"href":"http://api.arclight.org/v2/media-languages?page=1&limit=5000&apiKey=1234567890"}},"_embedded":{"mediaLanguages":[{"languageId":529,"iso3":"eng","bcp47":"en","counts":{"speakerCount":{"value":88333807825,"description":"Number
        of speakers"},"countriesCount":{"value":106,"description":"Number of countries"},"featureFilm":{"value":7,"description":"Feature
        Film"},"series":{"value":17,"description":"Series"},"shortFilm":{"value":112,"description":"Short
        Film"}},"audioPreview":{"url":"https://d2y2gzgc06w0mw.cloudfront.net/output/529.aac","audioBitrate":15875,"audioContainer":"AAC","sizeInBytes":24363},"primaryCountryId":"GB","name":"English","nameNative":"English","metadataLanguageTag":"en","_links":{"self":{"href":"http://api.arclight.org/v2/media-languages/529?apiKey=1234567890"}}}]}}'
  recorded_at: Thu, 04 Feb 2021 04:42:28 GMT
recorded_with: VCR 6.0.0
